<h1>All reservations</h1>
<div class="list-group">
    <%= for r <- @reservations do %>
        <div class="formal">
            <a href="<%= r.id %>">
                <h3><%= r.room.type %></h3>

                <span>
                    <span class="pull-right"> from <%= format_date r.beginning_date %></span>
                    <span class="pull-right"> to <%= format_date r.end_date %></span>
                </span>
            </a>
        </div>
    <% end %>
</div>